/* css - ecore validation ui */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $grey-very-light;
    margin: 0;
    background: $grey-very-dark;
}

/* typography */

a:not(.ecore-validate-next) {
    background: -webkit-linear-gradient(left, $blue-very-light, $blue-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px dotted $grey-medium;
}

h1 {
    float: left;
    font-size: 1.3rem;
    font-weight: normal;
    color: $grey-medium;
    background: -webkit-linear-gradient(left, $blue-very-light, $blue-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* layout */

header {
    padding: 0.2rem 0 0 1rem;
    margin-bottom: 2rem;
    // position: sticky;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background: $black;
    border-bottom: 1px solid $grey-dark;
    box-shadow: 0 0 1rem $black;

    span {
        float: right;
        padding: 0.8rem 1rem 0 0;
        font-size: 0.8rem;
        color: $grey-medium;
    }
}

.container {
    border-radius: 10px;
    width: $width-content-main-desktop;
    padding-bottom: 3rem;
    // background: $grey-dark;
    background: -webkit-linear-gradient(left, $grey-very-dark, $grey-dark);
    -webkit-box-shadow: 0 0 5px 0 $black;
    box-shadow: 0 0 5px 0 $black;

    > * {
        margin: 5%;
    }
}

section {
    margin-bottom: 2rem;
}

.ecore-validate-ui {
    // display: block !important;
    // display: flex;
    // flex-direction: column;
    position: fixed;
    top: 35vh;
    right: 0;
    width: auto;
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
    border: 1px solid $grey-very-light;
    border-top: 2px solid $red;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background: $white;
    background: -moz-linear-gradient(top, $white 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, $white 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, $white 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='#eeeeee', GradientType=0);

    > .error-count {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .ecore-validate-next {
        display: block;
        cursor: pointer;
        color: $white;
        padding: 0.4rem 2rem;
        border-radius: 3px;
        background: #ff3019;
        background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%);
        background: -webkit-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%);
        background: linear-gradient(135deg, #ff3019 0%, #cf0404 100%);
    }
}

form {
    fieldset {
        border: none;
        padding: 0;
        margin-bottom: 2rem;
        border-top: 2px solid $grey-medium;

        legend {
            background: -webkit-linear-gradient(
                left,
                $blue-very-light,
                $blue-dark
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 0 0.4rem 0 0;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        .row {
            > label,
            > div {
                display: flex;
                flex-direction: column;
                padding-bottom: 2rem;

                span {
                    font-size: 0.85rem;
                    // font-weight: bold;
                    letter-spacing: 0.02rem;
                    text-transform: uppercase;
                    // padding-left: 1rem;
                }

                &.required span::after {
                    content: "*";
                    margin-left: 5px;
                    color: $red;
                }
            }
        }
    }

    input,
    select,
    textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: $white;
        padding: 0.7rem 1rem;
        border: 1px solid $grey-dark;
        border-top: 1px solid $grey-medium;
        border-radius: 6px;
        background: -webkit-linear-gradient(top, $black, $grey-very-dark);
    }

    input:focus,
    select:focus,
    text-area:focus {
        border-color: #666;
    }

    // input:invalid,
    // select:invalid,
    // textarea:invalid {
    // 	border: 1px solid $red;
    // 	background: lightpink;
    // }

    .ecore-error {
        border: 1px solid $red;
    }

    .buttons {
        text-align: right;

        button {
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            color: $white;
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 0.02rem;
            font-weight: bold;
            cursor: pointer;
            padding: 0.6rem 2rem;
            margin-left: 1rem;
            border-radius: 5px;
            border: 1px solid $grey-medium;
            border-top: 1px solid $white;
            background: -webkit-linear-gradient(
                left,
                $blue-very-light,
                $blue-dark
            );

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

/* responsive tablet/mobile */

@media screen and (max-width: 1023px) {
    .container {
        width: $width-content-main-tablet;

        > * {
            margin: auto 5%;
        }
    }

    .ecore-validate-ui {
        top: initial;
        bottom: 0;
        text-align: center;
        width: 50vw;
        left: 22.5vw;
        border-right: 1px solid $grey-very-light;
        border-radius: 5px 5px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: $width-content-main-mobile;

        > * {
            margin: auto 5%;
        }
    }

    h1 span {
        display: block;
    }
}

/* animations */
/* animations from https://animate.style/ */

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

.animate__bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes shakeX {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shakeX {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.animate__shakeX {
    -webkit-animation-name: shakeX;
    animation-name: shakeX;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.animate__fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}
