/* css - ecore validation ui */

/* colors */

$black: #000;
$grey-very-dark: #222;
$grey-dark: #333;
$grey-medium: #666;
$grey-light: #999;
$grey-very-light: #ccc;
$grey-really-light: #eee;
$white: #fff;
$blue-very-light: #3898ff;
$blue-light: #0078f8;
$blue-dark: #0069d9;
$red: red;

/* widths - content */

$width-content-main-desktop: 50%;
$width-content-main-tablet: 80%;
$width-content-main-mobile: 100%;
