/* css - ecore validation ui */

$width-content-main-desktop: 50%;
$width-content-main-tablet: 75%;
$width-content-main-mobile: 95%;

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #444;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
}

header {
	width: $width-content-main-desktop;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;

	h1 span {
		font-size: 1rem;
		color: #999;
	}
}

section {
	width: $width-content-main-desktop;
	margin-bottom: 2rem;
}

.ecore-validate-ui {
	// display: block !important;
	// display: flex;
	// flex-direction: column;
	position: fixed;
	top: 35vh;
	right: 0;
	width: auto;
	padding: 0.6rem 0.8rem;
	font-size: 0.9rem;
	font-weight: bold;
	color: #000;
	border: 1px solid #ccc;
	border-top: 2px solid red;
	border-radius: 5px 0 0 5px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);


	>.error-count {
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.ecore-validate-next {
		display: block;
		cursor: pointer;
		color: #fff;
		padding: 0.4rem 2rem;
		border-radius: 3px;
		background: #ff3019;
		background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%);
		background: -webkit-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%);
		background: linear-gradient(135deg, #ff3019 0%, #cf0404 100%);
	}
}

form {
	width: $width-content-main-desktop;

	fieldset {

		border: none;
		padding: 0;
		margin-bottom: 2rem;
		border-top: 2px solid #ccc;

		legend {
			padding: 0 .4rem 0 0;
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-weight: bold;
		}

		.row {
			margin-bottom: 2rem;

			label {
				display: flex;
				flex-direction: column;

				span {
					font-size: 0.75rem;
					font-weight: bold;
					letter-spacing: 0.02rem;
					text-transform: uppercase;
					// padding-left: 1rem;
				}

				&.required span::after {
					content: "*";
					margin-left: 5px;
					color: red;
				}
			}
		}
	}

	input,
	select,
	textarea {
		padding: 0.5rem 0.75rem;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	input:focus,
	select:focus,
	text-area:focus {
		border-color: #666;
	}


	input:invalid,
	select:invalid,
	textarea:invalid {
		border: 1px solid red;
		background: lightpink;
	}
}

/* responsive tablet/mobile */

@media screen and (max-width: 1023px) {

	header,
	section,
	form {
		width: $width-content-main-tablet;
	}

	.ecore-validate-ui {
		top: initial;
		bottom: 0;
		text-align: center;
		width: 50vw;
		left: 22.5vw;
		border-radius: 5px 5px 0 0;
	}
}

@media screen and (max-width: 767px) {

	header,
	section,
	form {
		width: $width-content-main-mobile;
	}
}

/* animations */
/* animations from https://animate.style/ */

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounce {

	from,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

@keyframes bounce {

	from,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

.animate__bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

@-webkit-keyframes shakeX {

	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@keyframes shakeX {

	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

.animate__shakeX {
	-webkit-animation-name: shakeX;
	animation-name: shakeX;
}

@-webkit-keyframes fadeOutRight {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes fadeOutRight {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

.animate__fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}