/* css - ecore validation ui */

$width-content-main: 50%;

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #444;
}

header {
	width: $width-content-main;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;

	h1 span {
		font-size: 1rem;
		color: #999;
	}
}

section {
	width: $width-content-main;
	margin-bottom: 2rem;
}

form {
	width: $width-content-main;
}

fieldset {

	border: none;
	padding: 0;
	margin-bottom: 2rem;
	border-top: 2px solid #ccc;

	legend {
		padding: 0 .4rem 0 0;
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-weight: bold;
	}

	.row {
		margin-bottom: 2rem;

		label {
			span {
				font-size: 0.8rem;
				text-transform: uppercase;
				font-weight: bold;
			}

			input[type=text] {
				padding: 0.4rem;
			}
		}
	}
}

input:invalid,
select:invalid,
textarea:invalid {
	background: red;
}

@media screen and (max-width: 768px) {
	$width-content-main: 100%;

	header,
	section,
	form {
		width: $width-content-main;
	}
}